<div class="container">
  <h2 style="text-align: center; margin-top:10px; font-weight: bold">
    <div *ngIf="id != null;then editButton else addButton"></div>    

    <ng-template #editButton>Edit city</ng-template>
    <ng-template #addButton>Add city</ng-template>
  </h2>

  <form [formGroup]="cityForm" (ngSubmit)="postCity()">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <!--
      <mat-select formControlName="city">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-select>

      <mat-error>
        <div *ngIf="cityForm.get('city').invalid && (cityForm.get('city').dirty || cityForm.get('city').touched)" 
          class="alert alert-danger">
          <div *ngIf="cityForm.get('city').errors.required">Select a city</div>
        </div>
      </mat-error>
      -->

      
      <input formControlName="city" placeholder="Search.." autofocus (click)="$event.stopPropagation()" matInput value="[name]">

      <mat-error>
        <div *ngIf="cityForm.get('city').invalid && (cityForm.get('city').dirty || cityForm.get('city').touched)" 
          class="alert alert-danger">
          <div *ngIf="cityForm.get('city').errors.required">Select a city</div>
        </div>
      </mat-error>
    
    </mat-form-field>

    <div class="select-menu">
      <cdk-virtual-scroll-viewport itemSize="32" class="select-menu-inner" [style.height.px]="visibleOptions * 32">

        <div *ngIf="!options.length" class="select-item">No results found...</div>

        <div *cdkVirtualFor="let option of options" class="select-item" [class.active]="isActive(option)" (click)="select(option)">
          {{option.name}}
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>

      <mat-error>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.maxlength">Description can't be longer than 255 characters</div>
        </div>
      </mat-error>
    </mat-form-field>

    <br>
    
    <div style="display: flex; flex-direction: row-reverse;">
      <button mat-raised-button>
        <div *ngIf="id != null;then editButton else addButton"></div>    

        <ng-template #editButton>Edit</ng-template>
        <ng-template #addButton>Add</ng-template>
      </button>
    </div>
  </form>
</div>