<div class="container">
  <h2 style="text-align: center; margin-top:10px; font-weight: bold">
    Add city
  </h2>

  <form [formGroup]="cityForm" (ngSubmit)="postCity()">
    <div style="margin-bottom: 5px;">Select a city from the list</div>

    <div class="form-field">
      <input class="input-field" formControlName="name" size="50" autofocus (click)="$event.stopPropagation()">

      <div class="select-menu">
        <cdk-virtual-scroll-viewport itemSize="32" class="select-menu-inner" [style.height.px]="visibleOptions * 32">

          <div *ngIf="!options?.length" class="select-item">No results found...</div>

          <div *cdkVirtualFor="let option of options" class="select-item" (click)="select(option)">
            {{option.name}}
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
      
      <div class="error-message">
        <div *ngIf="validationCheck()">
          <div *ngIf="name.errors?.required">No city selected</div>
          <div *ngIf="name.valid && code.value === null">
            Select valid city from the list
          </div>
        </div>
      </div>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>

      <mat-error>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.maxlength">Description can't be longer than 255 characters</div>
        </div>
      </mat-error>
    </mat-form-field>

    <br>
    
    <div style="display: flex; flex-direction: row-reverse;">
      <button mat-raised-button [disabled]="!cityForm.valid">Add</button>
    </div>
  </form>
